{
  "rootDir": "{{ aptly_rootdir }}",
  "downloadConcurrency": {{ aptly_download_concurrency }},
  "downloadSpeedLimit": {{ aptly_download_speedlimit }},
  "architectures": [],
  "dependencyFollowSuggests": {{ aptly_dependency_follow_suggests }},
  "dependencyFollowRecommends": {{ aptly_dependency_follow_recommends }},
  "dependencyFollowAllVariants": {{ aptly_dependency_follow_all_variants }},
  "dependencyFollowSource": {{ aptly_dependency_follow_source }},
  "gpgDisableSign": {{ aptly_gpg_disable_sign }},
  "gpgDisableVerify": {{ aptly_gpg_disable_verify }},
  "downloadSourcePackages": {{ aptly_download_source_packages }},
  "ppaDistributorID": "{{ aptly_ppa_distributor_id }}",
  "ppaCodename": "{{ aptly_ppa_codename }}",
  "S3PublishEndpoints": {},
  "SwiftPublishEndpoints": {}
}
